<!DOCTYPE html>
<html>
<head>
  <title>Add Volunteer</title>
  <style>
    form {
      width: 50%;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #F9F9F9;
      font-size: 12px;
    }
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
    input, select, button {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    input[type="checkbox"], input[type="radio"] {
      width: auto;
      margin-right: 5px;
    }
    button {
      background-color: #4CAF50;
      color: white;
      font-size: 12px;
      cursor: pointer;
    }
    button:hover {
      background-color: #45A049;
    }
    .btn-view:hover {
        background-color: #6CA6CD; /* Darker blue */
    }
    .btn-view {
        background-color: #87CEEB; /* Light blue */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 8px 15px;
        cursor: pointer;
        font-size: 14px;
    }
    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1 style="text-align: center;">Add Volunteer</h1>
  <a href="/volunteerManagement" class="btn-view">Back to Home</a>
  <form action="/addVolunteer" method="POST">
    <!-- Volunteer First Name -->
    <label for="first_name">First Name</label>
    <input type="text" id="first_name" name="first_name" value="" placeholder="First Name" required>
    <!-- Volunteer Last Name -->
    <label for="last_name">Last Name</label>
    <input type="text" id="last_name" name="last_name" value="" placeholder="Last Name" required>
    <!-- Volunteer Email -->
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="" placeholder="Email" required>
    <!-- Volunteer Phone Number -->
    <label for="phone_number">Phone Number</label>
    <input type="tel" id="phone_number" name="phone_number" value="" placeholder="Phone Number" required>
    <!-- Volunteer Heard About -->
        <label for="heard_about_id">Heard About</label>
        <select id="heard_about_id" name="heard_about_id"> <!-- this is a dropdown list where we need to make an option for each option we want to show up-->
          <% heardAboutOptions.forEach(option => { %>
            <option value="<%= option.heardaboutid %>">
              <%= option.description %>
            </option>
          <% }) %>
        </select>
    <!-- Volunteer Hours Per Month -->
    <label for="hours_per_month">Hours Per Month</label>
    <input type="number" id="hours_per_month" name="hours_per_month" value="" placeholder="e.g, 40" required>
    <!-- Volunteer Sewing Level -->
    <label for="sewing_level">Sewing Level</label>
    <select id="sewing_level" name="sewing_level"> <!-- this is a dropdown list where we need to make an option for each option we want to show up-->
      <% sewingLevelOptions.forEach(option => { %>
        <option value="<%= option.sewinglevelid %>">
          <%= option.description %>
        </option>
      <% }) %>
    </select>
    <!-- Volunteer Sewing Preference -->
    <label for="sewing_preference">Sewing Preference</label>
    <select id="sewing_preference" name="sewing_preference"> <!-- this is a dropdown list where we need to make an option for each option we want to show up-->
      <% sewingPreferenceOptions.forEach(option => { %>
        <option value="<%= option.sewingpreferenceid %>">
          <%= option.description %>
        </option>
      <% }) %>
    </select>
    <label for="city">City</label>
    <input type="text" id="city" name="city" value="" placeholder="City" required>
    <!-- Address City (Radio Buttons) -->
    <label for="state">State</label>
    <input type="text" id="state" name="state" value="" placeholder="State" required>
    
    <label for="zip">Zip</label>
    <input type="text" id="zip" name="zip" value="" placeholder="Zip" required>
    
    <!-- Submit Button -->
    <button type="submit">Add Volunteer</button>
  </form>
</body>
</html>