<%- include('partials/header') %>
<h1>Event Details</h1>
<p><strong>Date:</strong> <%= event.eventdata %></p>
<p><strong>Contact:</strong> <%= event.contact_first %> <%= event.contact_last %></p>
<p><strong>Status:</strong> <%= event.eventstatusid %></p>
<p><strong>Type:</strong> <%= event.eventtypeid %></p>
<%- include('partials/footer') %>
